---
title: 看过的书|正在看的书
description: "分享正在看和看过想看的一些书籍"
---

<div class="main-content index-page clearfix ">
	<div class="post-lists">
		<div class="post-lists-body">
	  {% for posts in site.posts %}
	   {% if posts.docker%}
		<div class="vote-item">

	
			<div class="item-title"><a href="{{ posts.url }}">{{ posts.title }}</a></div>
			<div class="item-blog"> 
				<strong>GitHub</strong> <span class="text-muted"><i class="fa fa-clock-o"></i>{{ posts.date | date: "%F %H:%M:%S "}}</span>
				<span style="text-align:center">                           0 comments </span>
			</div>

		</div>
	{% endif %}
       {% endfor %}
	</div>
	</div>
</div>
  {% include pagination.html %}